<mat-toolbar color="primary">
   <div class="container" fxLayout fxLayoutAlign="space-between center">
    <a routerLink="/invoices" fxFlexOrder.xs="2" class="logo">LoGo</a>

    <nav>
      <!--desktop menu-->
      <mat-chip-list fxHide.xs="true">
        <button mat-raised-button routerLink="/products" routerLinkActive="active" color="primary">Products</button>
        <button mat-raised-button routerLink="/customers" routerLinkActive="active" color="primary">Customers</button>
        <button mat-raised-button routerLink="/invoices" routerLinkActive="active" color="primary">Invoices({{ countInvoices$ | async }})</button>
      </mat-chip-list>

      <!--mobile menu-->
      <div fxShow="false" fxShow.xs="true">
        <mat-menu #appMenu="matMenu">
          <a mat-menu-item routerLink="/products">Products</a>
          <a mat-menu-item routerLink="/customers">Customers</a>
          <a mat-menu-item routerLink="/invoices">Invoices({{ countInvoices$ | async }})</a>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </nav>

    <button mat-raised-button routerLink="/invoices/new" color="accent" routerLinkActive="hide"><span class="plus">+</span> New Invoice</button>
   </div>
</mat-toolbar>
