p, button {
  border: 1px solid #000;
  margin-bottom: 2%;
  text-align: center;
  line-height: 45px;
}
span {
  display: inline-block;
  margin: 15px 0;
}
.total {
  margin-top: 2%;
}
.total p{
  padding: 20px 10px;
}
.gray {
  background-color: #e4e4e4;
}
.center {
  text-align: center;
}
.blue {
  background-color: #42d1f4;
}
.f24 {
  font-size: 24px;
}
.fBlue {
  color: #0000cc;
}
a {
  text-decoration: none;
}
