<div class="container">
  <form [formGroup]="newInvoiceForm">
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5%">
      <div fxFlex="80%">
        <mat-form-field>
          <mat-select [formControl]="customer_id" placeholder="Select Name">
            <mat-option [value]="customer?.id" *ngFor="let customer of customers$ | async">{{ customer?.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="customer_id?.invalid">This field is required</mat-error>
        </mat-form-field>
        <div fxFlexAlign="row" fxLayoutGap="2%">
          <div fxFlex="90%" fxLayoutGap="2%">
            <p fxFlex="50%">Products</p>
            <p fxFlex="25%">Qty</p>
            <p fxFlex="25%">Price</p>
          </div>
          <span fxFlex="10%"></span>
        </div>
        <div formArrayName="items">
          <div *ngFor="let item of items?.controls; let i=index" fxLayoutGap="2%">
            <app-invoice-item
              fxFlex="100%"
              [item] = "item"
              [products] = "products$ | async"
            ></app-invoice-item>
            <button fxFlex="10%" mat-button color="primary" (click)="deleteInvoice(i)">X</button>
          </div>
          <mat-error *ngIf="items?.invalid">Add min 1 product</mat-error>
        </div>
        <mat-form-field>
          <mat-select [formControl]="addProduct" placeholder="Add Product">
            <mat-option [value]="product?.id" *ngFor="let product of products$ | async">{{ product?.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <hr>
        <div fxFlexAlign="row" fxLayoutGap="2%" class="total">
          <p fxFlex="58%" class="f24">Total</p>
          <p fxFlex="42%" class="f24">${{ total | number: '1.2-2' }}</p>
        </div>
      </div>
      <div fxFlex="15%" fxFlexAlign="center">
        <p>Discount, %</p>
        <mat-form-field>
          <input matInput type="number" [formControl]="discount" min="0" max="50">
          <mat-error *ngIf="discount?.invalid">The discount should be 0-50%</mat-error>
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button color="primary" (click)="createInvoice()">Create Invoice</button>
  </form>
</div>
