<div class="container">
  <div class="container">
    <mat-table #table [dataSource]="transformInvoices" class="invoices-table">
      <ng-container matColumnDef="invoice_id">
        <mat-header-cell *matHeaderCellDef> Invoice ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="customer_name">
        <mat-header-cell *matHeaderCellDef> Customer Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.customer.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="discount">
        <mat-header-cell *matHeaderCellDef> Discount, % </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.discount }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.total }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="actions"> Actions </mat-header-cell>
        <mat-cell *matCellDef="let element"  class="actions">
          <button mat-raised-button routerLink="" color="primary">View</button>
          <button mat-raised-button routerLink="" color="accent">Edit</button>
          <button mat-raised-button routerLink="" color="warn">Delete</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns" class="actions"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>

















<!--<div class="container">-->
  <!--<ul>-->
    <!--<li *ngFor="let invoice of transformInvoices">-->
      <!--id: {{ invoice.id }};-->
      <!--customer_id: {{ invoice.customer_id }};-->
      <!--discount: {{ invoice.discount }};-->
      <!--total: {{ invoice.total }};-->
      <!--customer_name: {{ invoice.customer.name }};-->
    <!--</li>-->
  <!--</ul>-->
<!--</div>-->
