<div class="container">
  <form [formGroup]="newInvoiceForm">
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5%">
      <div fxFlex="80%">
        <mat-form-field>
          <mat-select formControlName="customerId" placeholder="Select Name">
            <mat-option [value]="customer.id" *ngFor="let customer of customers$ | async">{{ customer.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="newInvoiceForm.get('customerId')?.invalid">This field is required</mat-error>
        </mat-form-field>
        <div fxFlexAlign="row" fxLayoutGap="2%">
          <p fxFlex="50%">Products</p>
          <p fxFlex="20%" class="center">Qty</p>
          <p fxFlex="20%" class="center">Price</p>
          <span fxFlex="10%"></span>
        </div>
        <div formArrayName="products">
          <div *ngFor="let product of productsControl.controls; let i=index" [formGroupName]="i" fxFlexAlign="row" fxLayoutGap="2%">
            <mat-form-field fxFlex="50%">
              <mat-select formControlName="productId" placeholder="Add Product">
                <mat-option [value]="product.id" *ngFor="let product of products$ | async">{{ product.name }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="20%">
              <input matInput type="number" formControlName="productQty" min="0">
              <mat-error *ngIf="product.get('productQty')?.invalid">Min quantity 0</mat-error>
            </mat-form-field>
            <p fxFlex="20%">${{ product.value.productPrice }}</p>
            <button fxFlex="10%" mat-button color="primary" (click)="deleteInvoice(i)" *ngIf="product.get('productId').value">X</button>
            <span fxFlex="10%" *ngIf="!product.get('productId').value"></span>
          </div>
        </div>
        <hr>
        <div fxFlexAlign="row" fxLayoutGap="2%" class="total">
          <p fxFlex="58%" class="center blue f24">Total</p>
          <p fxFlex="42%" class="center f24">${{ total.toFixed(2) }}</p>
        </div>
      </div>
      <div fxFlex="15%" fxFlexAlign="center">
        <p class="center blue">Discount, %</p>
        <mat-form-field>
          <input matInput type="number" formControlName="discount" min="0" max="50">
          <mat-error *ngIf="newInvoiceForm.get('discount')?.invalid">Max discount 50%</mat-error>
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button color="primary" (click)="createInvoice()">Create Invoice</button>
  </form>

  <!--<p>Form value {{ newInvoiceForm.value | json }} </p>-->
</div>
